<div class="container">
    <h1>List of Customers</h1>

    <button class="btn btn-primary float-end" routerLink="/costumer-registration" >Add New Customer</button>
  
    <table class="table mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable-row" *ngFor="let customer of costumers" >
          <td>{{ customer.id }}</td>
          <td>{{ customer.firstname }}</td>
          <td>{{ customer.lastname }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phonenumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
